{% extends 'owner.html' %}

{% block navBarButtons %}
{% if userSession %}
<a type="button" href="{{url_for('main.associate')}}" class="btn btn-outline-white">
    <i class="bi bi-person-badge"></i>
    {% if userRole=="client" %}Quiero ser propietario{% else %}Agregar otra tienda{% endif %}
</a>
<a type="button" href="{{url_for('main.logout')}}" class="btn btn-outline-orange"><i
        class="bi bi-box-arrow-right"></i></a>
{% else %}
<a type="button" href="{{url_for('main.login')}}" class="btn btn-outline-orange">Iniciar sesión</a>
<a type="button" href="{{url_for('main.sign_in')}}" class="btn btn-outline-white">Registrarse</a>
{% endif %}
{% endblock %}

{% block customBody %}
<div class="row p-2 bg-white mt-5">

    <!-- LISTADO DE TIENDAS -->
    <div class="col-md-3 mt-1 mb-3">
        <div class="row align-items-start">
            <h3 class="mb-2">Mis tiendas</h3>

            <ol class="list-group list-group p-2 border rounded" style="overflow-y: auto; max-height: 25rem;">
                {% for store in stores %}
                <li id="store-{{store['id']}}" onclick="openProducts({{store}})"
                    class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{store['name']}}</div>
                    </div>
                    <span class="badge bg-primary rounded-pill">{{store['total_sales']}}</span>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <!-- listado de productos por tienda -->
    <div class="col-md-9 mt-1">
        <div class="row align-items-start">

            <!-- TITULO Y BOTON -->
            <div class="container row align-items-center mb-2" style="margin-left: 5px;">
                <h3 class="col-md-10">Productos asociados</h3>
                <button type="button" class="col mt-0 btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addModal">Agregar producto</button>
            </div>

            <!-- LISTADO -->
            <div class="container col">
                <div class="d-flex row" style="min-height: 25rem;">

                    <!-- CONTENEDOR DE PRODUCTOS POR CADA TIENDA -->
                    {% for store in stores %}
                    <div id="products-store-{{store['id']}}" class="col-md-10"
                        style="overflow-y:scroll; max-height: 35rem; display: none; width: 100%; background: #ededed; margin: 0 18px;">

                        <!-- PRODUCTO -->
                        {% for product in store['products'] %}
                        <div class="row bg-white border rounded p-2" style="margin: 5px;">

                            <div class="col-md-3 mt-1">
                                <img class="img-fluid img-responsive rounded product-image"
                                    src="{{product['image']}}">
                            </div>

                            <div class="col-md-6 mt-1">
                                <h5>{{product['name']}}</h5>
                                <div class="d-flex flex-row">
                                    <div class="ratings mr-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>{{product['likes']}}</span>
                                </div>
                                <p class="text-justify text-truncate para mb-0">{{product['description']}}<br><br>
                                </p>
                            </div>
                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">${{product['price']}}</h4><del>${{product['old_price']}}</del>
                                </div>
                                
                                <h6 class="text-success">Free shipping</h6>
                                
                                <div class="d-flex flex-column mt-4">
                                    {% if userRole=="client" %}
                                    <button class="btn btn-secondary btn-sm" type="button">Comprar</button>
                                    <button class="btn btn-outline-secondary btn-sm mt-2" type="button">Detalle</button>
                                    {% else %}
                                    <button class="btn btn-secondary btn-sm" type="button">Editar</button>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>



<!-- MODAL -->

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Nuevo producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeAddModal"></button>
            </div>
            <div class="modal-body">
                <form submit="submit" method="POST" name="formularioProducto" id="formularioProducto">

                    <!-- nombre del producto -->
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Nombre</label>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>

                    <!-- price -->
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Precio</label>
                        <input type="number" name="price" class="form-control" id="price">
                    </div>

                    <!-- Image -->
                    <div class="mb-3">
                        <label for="image" class="col-form-label">Imagen</label>
                        <input type="text" name="price" class="form-control" id="image">
                    </div>

                    <!-- descripción -->
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Descripción</label>
                        <textarea class="form-control" name="description" id="description"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    style="margin-top: 10px;">Cerrar</button>
                <button type="button" onclick="addProduct()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>




{% endblock %}