/* BANNER */

.banner .content {
    position: relative;
}

.banner .content img {
    border-radius: 0px 0px 80px 80px;
    width: 100%;
    height: auto;
    min-height: 10rem;
    min-width: 14rem;
}

.banner .content .input-group {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 20%;
    min-width: 10rem;
    margin: 15px;
}

/* CARDS */
.featured-stores {
    margin-top: 5rem;
}

.featured-stores .card {
    width: 88% !important;
    max-width: 20rem !important;
    min-width: 13rem !important;
    margin: 15px;
}

.featured-stores .card .image-content {
    display: flex;
    flex-direction: column;
    height: 15rem;
    border-bottom: 1px solid #ddd;
}

.featured-stores .card .card-body {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}